body {
    background-color: #FFA400;
}

h1 {
    color: #083D77;
    font-family:serif;
    margin-left: 1px;
    text-align: center;
}
p {
color: #083D77;
text-align: center;
font-family: serif;

}
form {

  text-align: center;
  color: #083D77;
}

button {
background-color: #083D77;
color: white;
display:inline-flex;
padding: 10px 28px;


}



.mycenter {
    position: relative;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%) }
